@media (max-width: 2560px) {
    .carousel {
        .tns-outer {
            display: block;
            margin: 0 auto;
            width: 750px;
        }
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .carousel {
        &__inner {
            width: 100%;
            .tns-outer{
                display: block;
                margin: 0 auto;
                width: 750px;
            }
        }
        .prev {
            left: 66px;
        }
        .next {
            right: 70px;
        }
    }
}


@media (min-width: 850px) and (max-width:1024px) {
    .container {
        max-width: 90%;
    }
    .benefits {
        &__icon {
            width: 235px;
        }
    }
    .carousel {
        .tns-outer {
            display: block;
            margin: 0 auto;
            width: 575px;
        }
        .prev {
            left: 46px;
        }
        .next {
            right: 50px;
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
    .footer {
        &__info {
            padding: 20px 60px 15px 60px;
            width: 400px;
            height: 200px;
        }
        &__addr {
            font-size: 17px;
        }
        &__phone {
            font-size: 18px;
            margin-top: 25px;
        }
        &__social {
            margin-top: 25px;
        }
    }
}

//800px
@media (min-width: 768px) and (max-width: 849px) {
    .container {
        max-width: 90%;
    }
    .title {
        font-size: 28px;
    }
    .promo {
        min-height: 565px;
        &__wrapper {
            margin-top: 55px;
        }
        &__header {
            font-size: 35px;
            line-height: 35px;
        }
        &__subheader {
            margin-top: 10px;
            font-size: 20px;
            line-height: 20px;
        }
        &__icons {
            margin-top: 25px;
            width: 415px;
        }
        .button_main {
            margin-top: 40px;
            width: 250px;
            font-size: 15px;
        }
    }
    .benefits {
        &__icons {
            margin-top: 50px;
        }
        &__icon {
            width: 30%;
            img {
                margin-top: 30px;
            }
            span {
                font-size: 17px;
                margin-bottom: 22px;
            }
        }
    }
    .consultation {
        .title_left {
            font-size: 30px;
        }
        .consultation__descr {
            margin-top: 45px;
        }
    }
    .carousel {
        .tns-outer {
            display: block;
            margin: 0 auto;
            width: 575px;
            .tns-nav {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
            }
        }
        .prev, .next {
            display: none;
        }

    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
    .footer {
        &__info {
            padding: 20px 60px 15px 60px;
            width: 400px;
            height: 200px;
        }
        &__addr {
            font-size: 17px;
        }
        &__phone {
            font-size: 18px;
            margin-top: 25px;
        }
        &__social {
            margin-top: 25px;
        }
    }
    .modal {
        width: 330px;
        padding: 30px 30px 30px 40px;
        min-height: 390px;
        &_mini {
            min-height: 130px;
        }
        &__subtitle {
            font-size: 17px;
        }
        &__descr {
            font-size: 13px;
        }
        .feed-form {
            width: 250px;
            input {
                height: 45px;
                padding: 0 15px;
                font-size: 13px;
            }
            .button_submit {
                height: 50px;
            }
        }
    }
}

@media (max-width:767px) {
    .container {
        max-width: 90%;
    }
    .title {
        font-size: 28px;
    }
    .promo {
        min-height: 605px;
        .header {
            &__logo {
                width: 180px;
            }
            &__official {
                font-size: 11px;
                span {
                    font-size: 16px;
                }
            }
            &__contacts {
                a {
                    font-size: 13px;
                }
                .button {
                    width: 120px;
                    font-size: 11px;
                }
            }
        }
        &__wrapper {
            margin-top: 50px;
            align-items: center;
        }
        &__header {
            font-size: 35px;
            line-height: 35px;
        }
        &__subheader {
            margin-top: 10px;
            font-size: 19px;
            line-height: 19px;
        }
        &__icons {
            margin-top: 50px;
            width: 420px;
        }
        .button_main {
            margin-top: 65px;
            width: 270px;
            height: 45px;
            font-size: 15px;
        }
        &__link {
            margin-top: 20px;
            font-size: 15px;
        }
    }
    .benefits {
        min-height: 450px;
        padding: 50px 0 78px 0;
        &__icons {
            margin-top: 45px;
        }
        &__icon {
            width: 31%;
            font-size: 13px;
            img {
                margin-bottom: 25px;
            }
            span {
                margin-bottom: 20px;
            }
        }
    }
    .consultation {
        .title_left {
            font-size: 30px;
        }
        .consultation__descr {
            margin-top: 40px;
        }
        .feed-form {
            margin-top: 55px;
        }
    }
    .carousel {
        .carousel__inner {
            width: 75%;
        }
        .tns-outer {
            display: block;
            margin: 0 auto;
            width: 60%;
            .tns-nav {
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
            }
        }
        .prev, .next {
            display: none;
        }
    }
    .catalog {
        &__tabs {
            margin-top: 50px;
        }
        &__tab {
            height: 45px;
            font-size: 15px;
            line-height: 43px;
            margin: 0 3px;
        }
        &__content {
            justify-content: space-around;
        }
        &-item {
            width: 250px;
            margin-bottom: 5px;
        }
    }
    .feedback {
        &__wrapper {
            margin-left: 30px;
        }
        &__img {
            margin-right: 40px;
            width: 155px;
            height: 155px;
        }
    }
    .footer {
        &__info {
            padding: 20px 60px 15px 60px;
            width: 400px;
            height: 200px;
        }
        &__addr {
            font-size: 17px;
        }
        &__phone {
            font-size: 18px;
            margin-top: 25px;
        }
        &__social {
            margin-top: 25px;
        }
    }
    .modal {
        width: 330px;
        padding: 30px 30px 30px 40px;
        min-height: 390px;
        &_mini {
            min-height: 130px;
        }
        &__subtitle {
            font-size: 17px;
        }
        &__descr {
            font-size: 13px;
        }
        .feed-form {
            width: 250px;
            input {
                height: 45px;
                padding: 0 15px;
                font-size: 13px;
            }
            .button_submit {
                height: 50px;
            }
        }
    }
}

//500px
@media (min-width:451px) and (max-width:575px) {
    .title {
        font-size: 22px;
    }
    .promo {
        .header {
            flex-direction: column;
            &__logo {
                width: 225px;
                margin-bottom: 20px;
            }
            &__official {
                font-size: 14px;
                margin-bottom: 20px;
                span {
                    font-size: 18px;
                }
            }
            &__contacts {
                a {
                    font-size: 16px;
                }
                .button {
                    width: 140px;
                    font-size: 12px;
                }
            }
        }
        &__wrapper {
            margin-top: 40px;
        }
        &__header {
            font-size: 31px;
            line-height: 31px;
        }
        &__subheader {
            font-size: 18px;
            line-height: 18px;
        }
        &__icons {
            width: 400px;
            margin-top: 40px;
        }
        .button_main {
            margin-top: 50px;
            width: 240px;
            height: 40px;
            font-size: 14px;
        }
        &__link {
            margin-top: 10px;
            font-size: 13px;
        }
    }
    .benefits {
        padding: 50px 0 50px 0;
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 35px;
        }
        &__icon {
            width: 75%;
            font-size: 15px;
            margin-bottom: 35px;
            img {
                margin-bottom: 10px;
            }
            span {
                margin-bottom: 15px;
                font-size: 19px;
            }
        }
    }
    .consultation {
        min-height: 650px;
        padding: 70px 0 70px 0;
        .title_left {
            font-size: 24px;
            text-align: center;
        }
        .consultation__descr {
            font-size: 18px;
            text-align: center;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 50px;
        }
    }
    .catalog {
        &-item {
            width: 220px;
            &__link {
                margin-top: 45px;
            }
            hr {
                margin-top: 0px;
            }
            &__price {
                font-size: 18px;
            }
        }
        &__tab {
            font-size: 14px;
            line-height: 45px;
        }
        .button_catalog {
            width: 115px;
            height: 35px;
            font-size: 13px;
        }
    }
    .feedback {
        &__wrapper {
            margin-left: 15px;
        }
        &__img {
            margin-right: 35px;
        }
        &__name {
            font-size: 17px;
        }
        &__subtitle {
            font-size: 13px;
        }
        &__descr {
            font-size: 14px;
            line-height: 19px;
        }
    }
    .footer {
        height: 550px;
        &__info {
            padding: 15px 45px 10px 45px;
            width: 350px;
            height: 180px;
        }
        &__addr {
            font-size: 16px;
        }
        &__phone {
            font-size: 17px;
            margin-top: 20px;
        }
        &__social {
            margin-top: 20px;
        }
        &__social-item {
            width: 45px;
            height: 45px;
        }
    }
    .modal {
        width: 330px;
        padding: 30px 30px 30px 40px;
        min-height: 390px;
        &_mini {
            min-height: 130px;
        }
        &__subtitle {
            font-size: 17px;
        }
        &__descr {
            font-size: 13px;
        }
        .feed-form {
            width: 250px;
            input {
                height: 45px;
                padding: 0 15px;
                font-size: 13px;
            }
            .button_submit {
                height: 50px;
            }
        }
    }
}

@media (min-width:320px) and (max-width: 450px) {
    .container {
        max-width: 100%;
    }
    .title {
        font-size: 16px;
    }
    .promo {
        padding: 35px 0 55px 0;
        .header {
            flex-direction: column;
            &__logo {
                width: 200px;
                margin-bottom: 20px;
            }
            &__official {
                margin-bottom: 20px;
                font-size: 11px;
                span {
                    font-size: 15px;
                }
            }
            &__contacts {
                .button {
                    width: 115px;
                }
            }
        }
        &__wrapper{
            margin-top: 45px;
        }
        &__header {
            font-size: 24px;
            line-height: 24px;
        }
        &__subheader {
            margin-top: 7px;
            font-size: 14px;
            line-height: 14px;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            width: 90%;
        }
        &__icon {
            font-size: 14px;
            margin-bottom: 30px;
            img {
                margin-bottom: 10px;
                width: 30%;
            }
        }
        .button_main {
            margin-top: 30px;
            width: 200px;
            height: 40px;
            font-size: 13px;
        }
        &__link {
            margin-top: 10px;
            font-size: 12px;
        }
    }
    .benefits {
        padding: 30px 0 30px 0;
        &__icons {
            margin-top: 25px;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-bottom: 25px;
            width: 160px;
            font-size: 11px;
            img {
                margin-bottom: 7px;
                width: 30%;
            }
            span {
                margin-bottom: 7px;
                font-size: 15px;
            }
        }
    }
    .consultation {
        min-height: 510px;
        padding: 50px 0 50px 0;
        .title_left {
            font-size: 18px;
            text-align: center;
        }
        .consultation__descr {
            padding: 0 5px;
            font-size: 15px;
            text-align: center;
            margin-top: 25px;
        }
        .feed-form {
            width: 230px;
            margin: 0 auto;
            margin-top: 40px;
            input {
                height: 40px;
                font-size: 11px;
            }
            .button_submit {
                height: 45px;
                font-size: 10px;
            }
        }
    }
    .carousel {
        .tns-nav {
            button {
                margin: 0 10px;
            }
        }
    }
    .catalog {
        padding-bottom: 75px;
        &__tabs {
            margin-top: 35px;
        }
        &__tab {
            height: 40px;
            font-size: 10px;
            line-height: 41px;
            transform: skew(-5deg);
            div {
                transform: skew(5deg);
            }
            &:hover {
                box-shadow: 2px 2px 5px $main-color;
            }
        }
        &__content {
            margin-top: 35px;
            .catalog-item {
                min-height: 385px;
                padding:10px 10px 10px 10px;
                &__img {
                    height: 150px;
                }
                &__subtitle {
                    margin-top: 15px;
                    font-size: 15px;
                }
                &__descr {
                    margin-top: 10px;
                    font-size: 12px;
                }
                &__link {
                    font-size: 13px;
                    margin-top: 20px;
                }
                &__list {
                    li {
                        font-size: 12px;
                        margin-top: 15px;
                    }
                }
                hr {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                &__price {
                    font-size: 18px;
                }
                &__old-price {
                    font-size: 12px;
                }
            }
            .button_catalog {
                width: 120px;
                height: 35px;
                font-size: 13px;
            }
        }

    }
    .feedback {
        padding-bottom: 30px;
        .title {
            margin-bottom: 25px;
        }
        &__wrapper {
            flex-direction: column;
            margin: 35px auto;
        }
        &__img {
            margin: 0 auto; 
            width: 125px;
            height: 125px;
        }
        &__descr {
            width: 320px;
            text-align: center;
            font-size: 12px;
            line-height: 16px;
            padding: 0 20px;
            margin: 0 auto;
            margin-top: 15px;
        }
        &__name {
            font-size: 14px;
            text-align: center;
            margin-bottom: 10px;
        }
        &__subtitle {
            font-size: 10px;
            text-align: center;
            margin-bottom: 10px;
        }
    }
    .footer {
        min-height: 450px;
        &__info {
            width: 200px;
            height: 100px;
            padding: 5px 10px 5px 10px;
        }
        &__addr {
            font-size: 11px;
        }
        &__phone {
            font-size: 12px;
            margin-top: 15px;
        }
        &__social {
            margin-top: 9px;
        }
        &__social-item {
            width: 27px;
            height: 27px;
            margin: 0 10px;
            img {
                height: 17px;
            }
        }
    }
    .modal {
        width: 290px;
        padding: 15px 10px 15px 24px;
        min-height: 340px;
        &_mini {
            min-height: 100px;
        }
        &__close {
            right: 0;
            top: -40px;
            font-size: 35px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 12px;
        }
        .feed-form {
            width: 235px;
            input {
                height: 40px;
                padding: 0 15px;
                font-size: 12px;
            }
            .button_submit {
                height: 45px;
                font-size: 11px;
            }
        }
    }
}